<div class="container px-5">

    <form autocomplete="off"
          [formGroup]="loginForm"
          (ngSubmit)="logIn(loginForm)">

        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div style="width: 10rem;">
                    <img src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                         alt="user"
                         class="img-fluid">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-2">
                <mat-form-field class="w-100">
                    <mat-label>User</mat-label>
                    <input matInput
                           formControlName="user">
                    <mat-error>This field is requiered.</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4 text-center">
                <button type="submit"
                        class="btn btn-blue btn-modal"
                        mat-button>
                    Login
                </button>

            </div>
        </div>

    </form>

</div>
