.menu-button {
    border: 1px solid #dae0e5!important;
    width: 6rem;
    height: 3rem;
}

.left-button { 
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.right-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.center-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}