<button class="btn btn-light left-button menu-button"
        [ngClass]="{'active': category === 'ALL'}"
        (click)="onClickCategory('ALL')"
        mat-button>
    All
</button>

<button class="btn btn-light menu-button"
        *ngFor="let buttonLabel of buttonsList; let i = index"
        [ngClass]="{
                'right-button': (buttonsList.length-1) === i, 
                'center-button': (buttonsList.length-1) !== i, 
                'active': category === buttonLabel.toUpperCase()
            }"
        (click)="onClickCategory(buttonLabel.toUpperCase())"
        mat-button>
    {{buttonLabel}}
</button>
