<div class="row">
    <div class="col-12 d-flex justify-content-end px-5">
        <app-button-add (click)="openAddPostModal()"></app-button-add>
    </div>
</div>

<div class="row">
    <div class="col-12 text-center my-4 my-md-0 mb-md-4">
        <app-filter-buttons [(category)]="category"></app-filter-buttons>
    </div>
</div>

<!-- Shows when component get the postList array from API -->
<div class="row pb-md-2"
     *ngIf="httpReqStatus === 'RESPONSE'">

    <ng-container *ngIf="(postsList | filterPostsList: category) as result">

        <!-- Posts List cards -->
        <div class="col-md-6 post-container pl-3 pr-3"
             *ngFor="let post of result"
             [ngStyle]="{'background-image': 'url('+post.imgRoute+')'}">

            <div class="w-100 post-content"
                 [routerLink]="['/post/'+post.id]">
                <app-post-card [post]="post"></app-post-card>
            </div>
        </div>

        <!-- No record found -->
        <div class="col-12"
             *ngIf="result.length === 0">
            <div class="no-records-found">No records found</div>
        </div>

    </ng-container>

</div>

<!-- Loading animation -->
<div class="row"
     *ngIf="httpReqStatus === 'SENT'">
    <div class="col-md-6 pl-0 pr-0">
        <div style="height: 29rem;">
            <app-loading-animation></app-loading-animation>
        </div>
    </div>
    <div class="col-md-6 pl-0 pr-0">
        <div style="height: 29rem;">
            <app-loading-animation></app-loading-animation>
        </div>
    </div>
</div>
