.post-container {
    background-color: rgb(196 196 196 / 49%);
    padding-right: 0;
    padding-left: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1000px rgba(0,0,0,.3) inset;
    cursor: pointer;
}

.post-container:after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    background: rgba(0,0,0,.4);
    transition: all 0.6s;
    top: 0;
    left: 0;
    position: absolute;
}

.post-container:hover:after {
    opacity: 1;
}

.post-container .post-content {
    z-index: 1;
    position: relative;
}

.post-content {
    outline: none;
}

.btn:focus, .btn.focus {
    box-shadow: none!important;
}

// * Record not found styles * //
.no-records-found {
    border: 1px solid #A0A0A0;
    box-shadow: 0 0.4rem 0.3rem #9E9E9E;
    border-radius: 0.5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5rem;
    color: #9E9E9E;
}