<form autocompautocomplete="off"
      #form
      [formGroup]="commentForm"
      (ngSubmit)="saveComment(form)">

    <div class="row mt-4">

        <div class="col-12">
            <mat-form-field class="w-100">
                <mat-label>Write a comment</mat-label>
                <textarea matInput
                          formControlName="comment"></textarea>
                <mat-error>This field is requiered.</mat-error>
            </mat-form-field>
        </div>

        <div class="col-12 mt-3">
            <!-- Shows if there is no active request to api -->
            <button type="submit"
                    class="btn-blue btn-modal"
                    mat-button
                    *ngIf="httpStatus !== 'SENT'">
                Add
            </button>

            <!-- Shows if there is an active request to api -->
            <button type="button"
                    class="btn btn-blue btn-modal"
                    mat-button
                    *ngIf="httpStatus === 'SENT'">
                <div class="spinner-border text-light"
                     style="height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                     role="status"></div>
            </button>

        </div>

    </div>

</form>
