<div class="blog-post"
     *ngIf="post">
    <div class="row">

        <div class="col-12 post-text">
            <span class="post-title">{{post.title}}</span>
        </div>

        <div class="col-12 post-text mt-4">
            <span class="post-comment">
                {{post.comments.length}} Comments <fa-icon [icon]="['far', 'comments']">
                </fa-icon>
            </span>
        </div>

        <div class="col-12 post-text mt-3">
            <span>{{post.description}}</span>
        </div>

        <div class="col-12 mt-3">
            <div class="row">
                <div class="col-6 post-text">
                    <span class="post-category">{{post.category.toUpperCase()}}</span>
                </div>
                <div class="col-6 d-flex justify-content-end">

                    <button type="button"
                            class="btn btn-rounded"
                            (click)="editPost(post, $event)">
                        <fa-icon [icon]="['fas', 'pen']"></fa-icon>
                    </button>

                    <button type="button"
                            class="btn btn-rounded"
                            (click)="deletePost(post, $event)">
                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    </button>

                </div>
            </div>
        </div>

    </div>
</div>
