
// * Post container and animation * //
.blog-post {
    min-height: 29rem;
    padding: 2rem; 
    display: flex;
    align-items: flex-end;
    justify-content: left;
    transition: .4s;
}

.blog-post button {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.4s linear;
}

.blog-post:hover {
    transform: scale(1.03);
}

.blog-post:hover button {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 750px) {
    .blog-post {
        min-height: 25rem;
    }
}
// * - - - - - - - - - - * //


// * Post text styles * //
.post-text {
    text-align: left;
    color: white;
    word-break: break-all;
}

.post-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
}

.post-comment {
    font-style: italic;
}

.post-category {
    letter-spacing: 4px;
}
// * - - - - - - - - - - * //


// * Edit / Delete buttons * //
.btn-rounded {
    color: #fff;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
}

.btn-rounded:hover {
    color: #fff;
    background-color: rgba(119, 119, 119, 0.486);
}

.btn-rounded:focus, .btn-rounded-coral.focus {
    color: #fff;
}
// * - - - - - - - - - - * //