.bg-light-gray {
    background-color: #efefef;
}

.post-image {
    min-height: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 0 1000px rgba(0,0,0,.4) inset;
    color: white;
    padding: 1rem;
}

.view-post-link {
    color: white;
}

.view-post-icon {
    font-size: 1.6rem;
}

.view-post-title {
    font-size: 3rem;
}

.view-post-description {
    font-size: 1.5rem;
}

.comments-span {
    font-weight: bold; 
    font-size: 1.2rem;
}