<!-- When component gets the postList array shows this -->
<div class="bg-light-gray fade-in pb-3"
     *ngIf="postSelected">
     <div class="row post-image pl-4 pr-4 pl-md-5 pr-md-5 pl-lg-5 pr-lg-5"
          [ngStyle]="{'background-image': 'url('+postSelected.imgRoute+')'}">

          <a class="view-post-link"
             [routerLink]="[ '/' ]">
               <fa-icon [icon]="['fas', 'angle-left']"
                        class="view-post-icon align-middle"></fa-icon>
               <span class="text-white ml-2">View Posts</span>
          </a>

          <div class="col-12 text-center">
               <span class="view-post-title">{{postSelected.title}}</span>
          </div>

     </div>

     <div class="container">

          <div class="row">
               <div class="col-12 mt-4 text-justify">
                    <span class="view-post-description">{{postSelected.description}}</span>
               </div>
          </div>

          <div class="container ml-auto mr-auto mt-5 text-left"
               style="max-width: 50rem;">
               <span class="comments-span">Comments</span>

               <app-comment *ngFor="let comment of postSelected.comments"
                            [comment]="comment"></app-comment>

               <app-add-comment [postID]="postSelected.id"></app-add-comment>

          </div>

     </div>
</div>

<!-- If the component havent received the postList array shows this -->
<div style="height: 30rem;"
     *ngIf="!postSelected">
     <app-loading-animation></app-loading-animation>
</div>
