.title {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;
}

.btn-rounded-gray {
    color: rgb(138, 138, 138);
    transition: .4s;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    font-size: 1.2rem;
}

.btn-rounded-gray:hover {
    color: #fff;
    background-color:rgb(105, 105, 105);
    border-color: rgb(105, 105, 105);
    transform: scale(1.10);
}

.btn-rounded-gray:focus, .btn-rounded-gray.focus {
    box-shadow: 0 0.4rem 0.3rem #9E9E9E!important;
}

::ng-deep.mat-button{
    min-width: 1px!important;
}