<div class="container-fluid pl-0 pr-0">

  <div class="row">
    <div class="col-12 mt-3 pl-5">
      <button class="btn btn-rounded-gray custom-shadow"
              mat-button
              (click)="openLogoutModal()">
        <fa-icon [icon]="['fas', 'user']"></fa-icon>
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12 mt-5 text-coral text-center">
      <span style="font-size: 2rem;">[</span>
      <span class="h5 mx-3">Making your Life Easier</span>
      <span style="font-size: 2rem;">]</span>
    </div>
  </div>

  <div class="row">
    <div class="col-12 py-4 text-center">
      <span class="title">Discovering the World</span>
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
