.loading-animation {
    height:100%;
    width:100%;
    background:#cacaca;
    z-index:0;
    position: relative;
}
  
.loading-animation:after {
    content:'';
    top:0;
    transform:translateX(100%);
    width:100%;
    height:30rem;
    position: absolute;
    z-index:1;
    animation: slide 1s infinite 0s;

    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
}
  
@keyframes slide {
    0% {transform:translateX(-100%);}
    100% {transform:translateX(100%);}
}