<div class="container px-md-5"
     style="max-width: 27rem;">

    <form autocomplete="off"
          [formGroup]="postForm"
          (ngSubmit)="savePost(postForm)">

        <div class="row">

            <div class="col-12 text-center">
                <span class="h3">{{editData ? 'Edit Post' :'Create Post'}}</span>
            </div>

            <div class="col-12 mt-4 form-group">
                <mat-form-field class="w-100">
                    <mat-label>Title</mat-label>
                    <input matInput
                           formControlName="title">
                    <mat-error>This field is requiered.</mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 form-group">
                <mat-form-field class="w-100">
                    <mat-label>Description</mat-label>
                    <textarea matInput
                              formControlName="description"></textarea>
                    <mat-error>This field is requiered.</mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 form-group">
                <mat-form-field class="w-100">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let category of categories"
                                    [value]="category.toUpperCase()">{{category}}</mat-option>
                    </mat-select>
                    <mat-error>This field is requiered.</mat-error>
                </mat-form-field>
            </div>

            <div class="col-12 form-group">
                <mat-form-field class="w-100">
                    <mat-label>URL of the image</mat-label>
                    <input matInput
                           formControlName="imgRoute">
                    <mat-icon matSuffix
                              style="color: gray;">link</mat-icon>
                    <mat-error>{{errorImgURL(postForm.get('imgRoute'))}}</mat-error>
                </mat-form-field>
            </div>

            <!-- Small screens (mobile) -->
            <div class="col-12 form-group d-block d-sm-none">
                <div class="row">
                    <div class="col-6 text-right">
                        <button type="button"
                                class="btn btn-modal"
                                mat-dialog-close
                                [disabled]="httpStatus === 'SENT'">Cancel</button>
                    </div>
                    <div class="col-6 text-left">
                        <!-- Shows if there is no active request to api -->
                        <button type="submit"
                                class="btn btn-blue btn-modal"
                                mat-button
                                *ngIf="httpStatus !== 'SENT'">{{editData ? 'Update' :'Save'}}</button>

                        <!-- Shows if there is an active request to api -->
                        <button type="button"
                                class="btn btn-blue btn-modal"
                                mat-button
                                *ngIf="httpStatus === 'SENT'">
                            <div class="spinner-border text-light"
                                 style="height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                                 role="status"></div>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Medium/Large screens (PC) -->
            <div class="col-12 form-group d-none d-sm-block text-right">

                <button type="button"
                        class="btn mr-4 btn-modal"
                        mat-dialog-close
                        [disabled]="httpStatus === 'SENT'">Cancel</button>

                <!-- Shows if there is no active request to api -->
                <button type="submit"
                        class="btn btn-blue btn-modal"
                        mat-button
                        *ngIf="httpStatus !== 'SENT'">{{editData ? 'Update' :'Save'}}</button>

                <!-- Shows if there is an active request to api -->
                <button type="button"
                        class="btn btn-blue btn-modal"
                        mat-button
                        *ngIf="httpStatus === 'SENT'">
                    <div class="spinner-border text-light"
                         style="height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                         role="status"></div>
                </button>

            </div>

        </div>

    </form>

</div>
