<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <span style="font-size: 2.5rem; font-weight: bold;">Oops! <span class="d-none d-sm-block">Something went
                    wrong...</span></span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 text-center mt-4">
            <span>Please try again later.</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div style="width: 30rem;">
                <img src="assets/img/error500.png"
                     alt="error 500"
                     class="img-fluid"
                     style="pointer-events: none;">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-6 text-center text-sm-right mt-3">
            <button class="btn"
                    mat-button
                    (click)="closeAndHome()">
                Back to home
            </button>
        </div>
        <div class="col-12 col-sm-6 text-center text-sm-left mt-3">
            <!-- If timerValue is equal to 0 -->
            <button type="button"
                    class="btn btn-blue btn-modal-retry"
                    mat-button
                    *ngIf="enableRetry"
                    (click)="closeAndRetry()">Retry</button>

            <!-- If timerValue is higher than 0 -->
            <button type="button"
                    class="btn btn-blue btn-modal-retry"
                    mat-button
                    *ngIf="!enableRetry"
                    disabled>{{timerValue}} to Retry</button>
        </div>
    </div>

</div>
