<div class="container">

    <div class="row">
        <div class="col-12 text-left">
            <span class="h3">Are you sure you want to delete this post?</span>
        </div>
    </div>

    <div class="row">

        <!-- Small screens (mobile) -->
        <div class="col-12 mt-5 d-block d-sm-none">
            <div class="row">
                <div class="col-6 text-right">
                    <button type="button"
                            class="btn mr-4 btn-modal"
                            mat-dialog-close
                            [disabled]="httpStatus === 'SENT'">Cancel</button>
                </div>
                <div class="col-6 text-left">
                    <!-- Shows if there is no active request to api -->
                    <button type="submit"
                            class="btn btn-danger btn-modal"
                            mat-button
                            *ngIf="httpStatus !== 'SENT'"
                            (click)="deletePost(deletePostData)">Delete</button>

                    <!-- Shows if there is an active request to api -->
                    <button class="btn btn-danger btn-modal"
                            mat-button
                            *ngIf="httpStatus === 'SENT'">
                        <div class="spinner-border text-light"
                             style="height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                             role="status"></div>
                    </button>
                </div>
            </div>
        </div>

        <!-- Medium/Large screens (PC) -->
        <div class="col-12 mt-5 text-right d-none d-sm-block">
            <button type="button"
                    class="btn mr-4 btn-modal"
                    mat-dialog-close
                    [disabled]="httpStatus === 'SENT'">Cancel</button>

            <!-- Shows if there is no active request to api -->
            <button type="submit"
                    class="btn btn-danger btn-modal"
                    mat-button
                    *ngIf="httpStatus !== 'SENT'"
                    (click)="deletePost(deletePostData)">Delete</button>

            <!-- Shows if there is an active request to api -->
            <button class="btn btn-danger btn-modal"
                    mat-button
                    *ngIf="httpStatus === 'SENT'">
                <div class="spinner-border text-light"
                     style="height: 1.5rem; width: 1.5rem; font-size: 0.8rem;"
                     role="status"></div>
            </button>
        </div>

    </div>

</div>
