/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.text-coral {
    color: coral;
}

// Scroll bar styles
body::-webkit-scrollbar {
    width: 0.5em;
}
  
body::-webkit-scrollbar-thumb {
    background-color: lightgray;
    outline: 1px solid white;
}


// Fade in animations
.fade-in {
    animation: fadeIn ease-in 0.4s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

// Shadow
.custom-shadow {
    box-shadow: 0 0.4rem 0.3rem #9E9E9E;
}

// Global Buttons
.btn-blue {
    color: #fff;
    background-color: #3f51b5;
    border-color: #3f51b5;
}

.btn-blue:hover {
    color: #fff;
    background-color: #2e3c86;
    border-color: #2e3c86;
}

.btn-blue:focus, .btn-blue.focus {
    color: #fff;
    background-color: #2e3c86;
    border-color: #2e3c86;
}

.btn-modal {
    width: 5.25rem;
}

