<div class="container">

    <div class="row">
        <div class="col-12 text-left">
            <span class="h3"><span style="color: coral">{{user}}</span>, are you sure you want to log
                out?</span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 mt-3 d-flex justify-content-center">
            <div style="width: 15rem;">
                <img src="assets/img/sad.gif"
                     alt="sad dog"
                     class="img-fluid"
                     style="border-radius: 1rem;">
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6 text-right">
            <button type="button"
                    class="btn btn-modal"
                    mat-dialog-close>Cancel</button>
        </div>
        <div class="col-6 right-left">
            <button type="button"
                    class="btn btn-coral"
                    mat-button
                    (click)="logOut()">Logout</button>
        </div>
    </div>

</div>
