.btn-coral {
    color: #fff;
    background-color: coral;
    border-color: coral;
}

.btn-coral:hover {
    color: #fff;
    background-color: rgb(212, 109, 71);
    border-color: rgb(212, 109, 71);
}

.btn-coral:focus, .btn-blue.focus {
    color: #fff;
    background-color: rgb(212, 109, 71);
    border-color: rgb(212, 109, 71);
}